<div class="container">
  <table>
    <tr>
      <h1>{{title}}</h1>
    </tr>
    <tr class="header">
      <td>
        <input 
          type="text"
          id="productName" 
          placeholder="Nome do produto"
          maxlength="40"
          #newProduct>
          {{newProduct.focus() }}
        </td>

        <td>
          <button 
            class="btn-add-product" 
            (click)="addProduct(newProduct.value); newProduct.value=''">
            Adicionar
          </button>
        </td>
    </tr>

    <tr class="display-none text-danger" id="msg">
      <td>
        <small>
          Não é possível adicionar um produto sem nome, por favor, preencha o campo e tente novamente.
        </small>
      </td>
    </tr>

    <tr *ngFor="let product of list" class="list-item">
      <td>{{product.name | uppercase}}</td>
      <td>
        <button (click)="delete(product)">remover</button>
      </td>
    </tr>

  </table>
</div>